{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <div class="wall w-100 d-flex align-items-end justify-content-end">
        <h3 class="d-flex mx-5 mb-5">Futur is a attitude</h3>
    </div>
    <div class="container">
        <div class="pres w-100 d-flex flex-column justify-content-center">
            <h2 class="text-center mb-3" style="color:#1e39a8">Notre garage</h2>
            <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, asperiores aspernatur deleniti deserunt earum eligendi error et ex excepturi iste modi molestias nemo perferendis porro quae quisquam similique veniam voluptatum.
                Blanditiis cumque delectus, id iusto nemo nihil praesentium repudiandae tenetur voluptas voluptatum? A asperiores atque distinctio facere fuga, hic inventore ipsa minus modi nostrum quibusdam, totam voluptatum? Consequuntur, eos, reprehenderit!</p>
        </div>

    </div>
{% endblock %}