.wall{
    height: 700px;
    background-image: url("../images/wallHyundai2.jpg");
    background-size: cover;
    background-position: center;

}

.pres{
    height: 300px;

}

.carsimg{
    height: 200px;
    width: 100%;
    display: block;
}

